/*---------------------------------
    Media Queries 
-----------------------------------*/

/********************************
    Large Devices - 1080px
*********************************/
@media (max-width: 1080px){

    .sub-heading{
        font-size: var(--text-lg);
        padding-top: 0;
    }

    /* NAVIGATION*/
    .nav-bar{
        padding: 20px 50px;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: left;
        background-color: rgba(0,0,0, 0.8);
        padding: 60px 0 30px 0;
    }

    .nav-menu li{
        padding: 20px 0 0 50px;
        font-size: var(--text-xxxs);
    }

    .nav-menu.active{
        display: flex;
    }

    .humburger-container{
        display: flex;
    }
    
    .humburger-menu{
        display: flex;
        width: 44px;
        height: 44px;
    }

    .remove-menu{
        display: none;
    }

    .humburger-container.active .humburger-menu{
        display: none;
    }

    .humburger-container.active .remove-menu{
        display: flex;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .humburger-menu:hover{
        cursor: pointer;
    }
    /* END NAVIGATION*/

    /* HERO SECTION */

    .hero{
        display: flex;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        margin-top: 35%;
    }
    .hero-section-left{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    
    .hero-section-left h1{
        font-size: var(--text-xxxl);
        line-height: 1.3;
    }

    .hero-section-left p{
        max-width: 100%;
    }

    .btns{
    margin-top: 30px;
    }

    button{
    width: 143px;
    height: 54px;
    margin-top: 30px;
    }
    /* END HERO SECTION */

    /* About me section */
    .about-me{
        padding: 80px 0 0 0;
    }

    .columns{
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 0;
    }

    .sub-heading .text-xl{
        font-size: var(--text-lg);
    }

    .column-1, .column-2{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 0 30px;
    }

    .column-1 img{
        width: 356px;
        height: 493px;
        padding-top: 0;
        background-position: center;
    }

    .column-2{
        margin-top: 0;
    }

    .column-2 .text-sm{
        font-size: var(--text-sm);
        text-align: center;
    }

    .column-2 .text-md{
        font-size: var(--text-md);
        padding-top: 15px;
        text-align: center;
    }

    .column-2 .text-xs{
        font-size: var(--text-xxxs);
        text-align: center;
    }

    .column-2 button{
        margin: 20px 0 0;
    }

    /* End about me section */

    /* What I do section */
    .services{
        width: 100%;
        padding: 80px 0 0 0;
    }

    .services .intro{
        width: 100%;
        padding: 30px 50px 0;
    }

    .services-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .services-container .service{
        width: 90%;
        padding: 0 50px;
    }

    .ellipse{
        width: 57px;
        height: 57px;

    }

    .ellipse i img{
        width: 26px;
        height: 26px;
    }

    .services-container .service .text-md{
        padding: 12px 0;
    }
    .services-container .service .text-xs{
        text-align: center;
        width: 80%;
        line-height: 1.5;
        padding-top: 0;
    }

    .call-to-action{
        width: 80%;
        padding: 30px;
    }

    .call-to-action .text-xs{
        font-size: var(--text-xxxs);
        width: 75%;
    }

    .call-to-action .btn-1{
        margin-top: 0;
    }
    /* End what I do section */

    /* My skills section */

    .skills-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-bottom: 0;
    }

    .skills-container .skill{
        margin: 20px;
    }

    .skills-container .skill img{
        width: 100%;
        height: 100%;
    }

    /* End  my skills section */

    /* Projects section */

    .carousel-container{
        display: flex;
        width: 100%;
    }

    .projects{
        width: 100%;
        padding: 80px 0 0 0;
    }

    .slider{
        width: 100%;
        padding: 0 50px;
    }

    .project{
        width: 260px;
        height: 260px;
    }
    /* End projects section */

    /* Contact me section */

    .contact{
        padding: 80px 0 0 0;
    }

    .contact-container{
        width: 100%;
        flex-direction: column;
    }

    .message{
        width: 100%;
        padding: 0 60px;
    }

    .message .form{
        margin-bottom: 30px;
        width: 100%;
    }

    .contact-details{
        width: 100%;
        padding: 0 60px;
    }
}
/* End contact me section */

/******************************** 
    Medium Devices - 780px
*********************************/
@media (max-width: 780px){
    body {
        font-size: var(--text-mobile-body);
    }

    .sub-heading h2 {
        font-size: 1.6rem;
    }

    .hero{
        display: flex;
        justify-content: space-between;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }
    
    .hero-section-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 40px 0 40px;
        width: 100%;
    }
    
    .hero-section-left .text-xxl{
        font-size: 46px;
        text-align: center;
        width: 80%;
        line-height: 1.3;
    }

    .hero-section-left p{
        text-align: center;
        margin-bottom: 0;
        max-width: 70%;
    }

    .hero-section-left button{
        margin: 0 10px;
    }

    .btns{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
    }

    /* End header section */

    /* About me section */
    .about-me{
        padding-bottom: 0;
    }

    .columns{
        flex-direction: column;
        padding: 10px 40px 30px 40px;
        margin: 0;
    }

    .column-1, .column-2{
        width: 100%;
        display: flex;
    }

    .column-1 img{
        width: 354px;
        height: 493px;
        padding-top: 0;
    }

    .column-2{
        margin-top: 10%;
        padding-top: 0;
        align-items: center;
    }

    .column-2 .text-sm{
        font-size: var(--text-xxs);
    }

    .column-2 .text-md{
        padding: 10px 0 0;
        text-align: center;
        font-size: var(--text-sm);
    }

    .column-2 .text-xs{
        text-align: center;
        padding: 20px 0 0 0;
        margin-bottom: 0;
    }

    .column-2 .btn-2{
        margin: 30px 0 0 0;
    }

    /* End about me section */

    /* What I do section */
        .services{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-primary);
        }

        .services .sub-heading{
            margin-bottom: 30px;
        }

    .services .intro{
        width: 100%;
        padding: 0 50px;
        margin-bottom: 20px;
    }

    .services .text-xs{
        font-size: var(--text-xxxs);
    }

    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
    }

    .services-container .service{
        width: 65%;
        flex-direction: column;
        padding-top: 30px;
    }

    .ellipse{
        width: 4rem;
        height: 4rem;
    }

    .ellipse i img{
        width: 3em;
        height: 3em;
    }

    .call-to-action{
        width: 65%;
        height: 320px;
        margin: 40px 0 60px 0;
        flex-direction: column;
    }

    .call-to-action .text-xs{
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .call-to-action .btn-1{
        height: 50px;
        margin-top: 10px;
    }
    /* End what I do section */

    /* Project section */

    .projects{
        width: 100%;
        height: 90vh;
        padding: 80px 0 0 0;
    }

    .carousel-container{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: block;
    }

    .slider{
        padding: 0 20px;
        transition: margin-left 0.5s ease;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: 0;
        height: 70%;
    }

    .project{
        margin: 0 40px;
        flex: 0 0 90vw;
        margin: 0;
        margin-right: 45px;
        height: inherit;
    }

    .project img{
        width: 100%;
        height: 100%;
    }

    .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.dots label{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px var(--color-accent);
    margin: 0 7px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.dots label:hover{
    background-color: var(--color-accent);
}

#project1:checked ~ .p1{
    margin-left: 0;
}

#project2:checked ~ .p2{
    margin-left: calc(-1 * (90vw + 40px));
}

#project3:checked ~ .p3{
    margin-left: calc(-2 * (90vw + 40px));
}

#project4:checked ~ .p4{
    margin-left: calc(-3 * (90vw + 40px));
}

    /* End project section */

    /* Contact section */
    .contact{
        padding-bottom: 40px;
    }
    /* End contact section */

    /* Footer section*/
    .footer{
        flex-direction: column;
        background-color: var(--color-body);
        height: 30%;
        padding: 10px 0;
    }

    .footer .text-xs{
        padding: 5px 0 0 0;
        margin: 0;
    }

    .footer button{
        justify-content: center;
        height: 44px;
    }

    .footer button img{
        margin: 0;
    }
    
}

/******************************** 
    Extra Small Devices - 402px 
*********************************/
@media (max-width: 402px) {
    body {
        font-size: 12px;
    }

    .nav-bar {
        padding: 10px 15px;
        height: 60px;
    }

    .nav-menu li {
        padding-left: 30px;
        font-size: 14px;
    }

    .hero-section-left {
        padding: 10px 10px;
        width: 100%;
    }

    .hero-section-left .text-xxl {
        font-size: 34px;
    }

    .hero-section-left p{
        font-size: var(--text-xxxs);
    }

    .btns {
        display: flex;
        flex-direction: column;
        height: 150px;
        margin: 30px 0 0 0;
        width: 80%;
    }

    .btns button{
    height: 50px;
    margin: 10px 0;
    }

    .about-me {
        padding: 80px 30px;
    }

    .columns {
        flex-direction: column;
        padding: 5px 5px;
    }

    .column-1 img {
        width: 180px;
        height: 250px;
    }

    .column-2 {
        padding: 0 5px;
    }

    .services-container {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 0 5px;
    }

    .services-container .service {
        width: 80%;
        padding: 15px 5px 0 5px;
    }

    .ellipse {
        width: 40px;
        height: 40px;
    }

    .ellipse i img {
        width: 24px;
        height: 24px;
    }

    .services-container .service .text-xs{
        width: 95%;
    }

    .services-container .service .text-md{
        font-size: 25.6px;
    }

    .call-to-action {
        width: 80%;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .call-to-action .btn-1{
        margin-top: 20px;
    }

    .skills{
        padding-bottom: 40px;
    }

    .skills-container{
        display: flexbox;
        width: 80%;
        margin: 10px 0;
    }

    .skills-container .skill {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .project {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .contact-container,
    .message,
    .contact-details {
        width: 100%;
        padding: 0 10px;
    }

    .fieldset div{
        font-size: var(--text-xxxs);
    }

    .contact-details .details img{
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 5px 0;
        font-size: 12px;
    }

    .scroll-to-top img {
        width: 24px;
        height: 24px;
        margin-left: 5px;
    } 
}