
:root {
    /* --------------------------------------
        Typography
    ------------------------------------------ */

    --font-primary: 'Poppins';
    --font-secondary: serif;
    --font-typeface: 'Poppins';

    /*----------------------------------------
         Type scale 
    ------------------------------------------*/
    --text-sm: 26px;
    --text-xs: 20px;
    --text-xxs: 18px;
    --text-xxxs: 16px;
   
 --text-mobile-body: 14px;
    --text-mobile-heading: calc(14px*1.618);
    --text-md: 34px;
    --text-lg: 40px;
    --text-xl: 44px;
    --text-xxl: 55px;
    --text-xxxl: 64px;
    --text-xxxxl: 75px;

    /*----------------------------------------
        Line height 
    ------------------------------------------*/
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    /* ----------------------------------------
        Colors
    ------------------------------------------- */
    /* main colors */
    --color-primary: #071013;
    --color-body: #DFE0E2;
    --color-accent: #7caebd;
    


    --color-accent-secondary: #e09200;
    --color-accent-hover: #569cb1;
    --color-accent-secondary-hover: #d5d80b;
    --color-nav-background: rgba(0,0,0, 0.8);

    /* typography */
    --color-text: var(--color-body);
    --color-text-heading: var(--color-body);
    --color-text-subtle: var(--color-body);
    --color-link: var(--color-primary);
    --color-link-visited: var(--color-primary-dark);

    /* buttons */
    --btn-primary-bg: var(--color-accent);
    --btn-primary-hover: var(--color-accent-light);
    --btn-primary-active: var(--color-accent-dark);
    --btn-primary-label: var(--color-body);
}

/*------------------------------------------
      1. General CSS (reset)      
--------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary), var(--font-secondary);
    color: var(--color-text);
}

a{
    text-decoration: none;
    color: var(--color-body);
}

section{
    display: flex;
    padding: 83px 0 0 0;
    border: none;
}

button{
    width: 155px;
    height: 50px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    font-size: var(--text-xxxs);
    font-family: var(--font-primary);
    
}

.btn-1{
    background-color: var(--color-accent-secondary);
    color: var(--color-body);
}

.btn-2{
    background-color: var(--color-accent);
    color: var(--color-body);
}

.btn-1:hover{
    background-color: var(--color-accent-secondary-hover);
    cursor: pointer;
}

.btn-2:hover{
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.text-xs{
    font-size: var(--text-xxxs);
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0 0;
    line-height: 1.7;
    letter-spacing: 1px;
}

.text-md{
    font-weight: 600;
    font-size: var(--text-md);
    margin: 0;
}

.sub-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-body);
    width: 100%;
    font-size: var(--text-xl);
}

.sub-heading h2 {
    font-size: 2.2rem;
    font-weight: 700;
}
/* End general CSS */


/*---------------------------------------
    2. Header section 
-----------------------------------------*/
.hero{
    flex-direction: column;
    background-image: url("images/background_image.jpg"); 
    background-color: var(--color-primary);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.nav-bar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    position: fixed;
    background-color: var(--color-nav-background);
}

.nav-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.humburger-container{
    display: none;
}

.remove-menu:hover{
    cursor: pointer;
}

.nav-menu li{
    padding-left: 45px;
    font-size: var(--text-xxs);
    font-family: var(--font-primary);
    color: var(--color-body);
}

.nav-menu li a:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--color-accent-secondary);
}

.hero-section{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.hero-section-left{
    flex-direction: column;
    padding: 40px 60px;
    width: 80%;
}

.hero-section-left p{
    font-size: var(--text-xxs);
    margin: 0;
    padding: 10px 0 0;
    line-height: 1.5;
    max-width: 70%; 
}


.hero-section-left h1{
    font-size: var(--text-xxxxl);
    line-height: 1.2;
    color: var(--color-accent);
}

.hero-section-left h1 span{
    color: var(--color-accent-secondary);
}

.hero-section-left button:hover{
    cursor: pointer;
}

.btns{
    width: 306px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

/* End header section */

/*--------------------------------------
    3. About me section 
----------------------------------------*/
.about-me{
    flex-direction: column;
    background-color: var(--color-primary);
    
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
}

.column-1{
    width: 48%;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.column-2{
    width: 48%;
    padding: 30px 60px;
    flex-direction: column;
}

.column-1 img{
    width: 362px;
    height: 499px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.column-2 .text-sm{
    font-size: var(--text-sm);
    font-weight: 500;
    margin: 0;
    padding: 10px 0 0;
    line-height: 1.3;

}

.column-2 .btn-2{
    margin: 10px 0;
}

.column-2 button:hover{
    cursor: pointer;
}
/* End about me section */

/*-----------------------------------
    4. What I do section 
------------------------------------- */
.services{
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    padding-bottom: 80px;
}

.services .intro{
    text-align: center;
    margin-bottom: 30px;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 40px 0 60px 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service{
    width: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.service .text-xs{
    text-align: center;
}

.ellipse{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
}

.ellipse i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse i.fa-solid{
    color: var(--color-body);
    font-size: 24px;
}
.services-container .service{
    text-align: center;
}

.call-to-action{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: var(--color-accent);
    color: var(--color-body);
    border-radius: 8px;
    border: none;
}

.call-to-action .text-xs{
    width: 60%;
    font-weight: 600px;
}

.call-to-action .text-xs span{
    font-size: var(--text-md);
    font-weight: 700;
    line-height: 1.2;
}

.call-to-action .btn-2{
    background-color: var(--color-p);
    color: var(--color-body);
    border: none;
    margin-top: 0;
}

.call-to-action .btn-3:hover{
    cursor: pointer;
}
/* End what I do section */

/*-------------------------------------
    5. My skills section
--------------------------------------- */

.skills{
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
}

.skills-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
}

.skills-container .skill{
    width: 90px;
    height: 90px;
}

.skills-container .skill img{
    height: 100%;
    width: 100%;
}

/* End  my skills section */

/*-------------------------------------
    6. Projects section
---------------------------------------- */

.projects{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.project{
    margin: 20px;
    width: 275px;
    height: 275px;
    flex: 1 1 auto;
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project img:hover{
    border-radius: 0;
}
.slider input[type="radio"]{
    display: none;
}


/* End projects section */

/*-------------------------------------
    7. Contact me section
--------------------------------------- */
.contact{
    flex-direction: column;
    background-color: var(--color-primary);
    padding-bottom: 0;
}

.contact-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.message .text-xs{
    margin-bottom: 25px;
}

.contact-details{
    display: flex;
    flex-direction: column;
}

.form{
    width: 100%;
    margin-bottom: 50px;
}

.fieldset{
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    margin-bottom: 20px;
    width: calc(100% - 10px);
}

.fieldset div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#name input, #email input, #message textarea{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-body);
    font-size: var(--text-xxxs);
    margin-top: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-body);
}

input::placeholder, textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-xxxs);
}

#message textarea{
    height: 110px;
    margin-bottom: 5px;
    resize: none;
}

#message span{
    opacity: 60%;
}

.message-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-btn .btn-2{
    margin: 0;
}

.message-btn .btn-2:hover{
    cursor: pointer;
}

.contact-details{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    padding-left: 80px;
}

.contact-details .details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-details .details img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-details .details .text-xs{
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--text-xxxs);
}
/* End contact me section */

/*-----------------------------------
    8. Footer section
------------------------------------- */

.footer{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    height: 55px;
    color: var(--color-primary);
    background-color: var(--color-body);
}

.footer .text-xs{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px 0;
}

.footer .heart{
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.footer button{
    margin: 0;
}

.scroll-to-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--text-xxxs);
    border: none;
    background-color: var(--color-body);
}

.scroll-to-top img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.scroll-to-top img:hover{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/* End footer section */