:root {
    /* -------------------------------- 
        Typography
    -------------------------------- */

    --font-primary: 'Poppins';
    --font-secondary: serif;
    --font-typeface: 'Poppins';

    /* type scale */
    --text-sm: 26px;
    --text-xs: 20px;
    --text-xxs: 18px;
    --text-xxxs: 16px;
    --text-mobile-body: 14px;
    --text-mobile-heading: calc(14px*1.618);
    --text-md: 34px;
    --text-lg: 40px;
    --text-xl: 44px;
    --text-xxl: 55px;
    --text-xxxl: 64px;

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    /* --------------------------------
        Colors
    -------------------------------- */
    /* main colors */
    --color-primary: #071013;

    --color-accent: #75ABBC;

    --color-body: #DFE0E2;

    /* typography */
    --color-text: var(--color-body);
    --color-text-heading: var(--color-body);
    --color-text-subtle: var(--color-body);
    --color-link: var(--color-primary);
    --color-link-visited: var(--color-primary-dark);

    /* buttons */
    --btn-primary-bg: var(--color-accent);
    --btn-primary-hover: var(--color-accent-light);
    --btn-primary-active: var(--color-accent-dark);
    --btn-primary-label: var(--color-body);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary), var(--font-secondary);
    color: var(--color-text);
}

/* Header section */
header{
    display: flex;
    flex-direction: column;
    background-image: url("images/background_image.jpg"); 
    background-color: var(--color-primary);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 100px;
}

.humburger-menu{
    width: 52px;
    height: 52px;
    display: none;
}

.nav-menu li{
    padding-left: 45px;
    font-size: var(--text-xxs);
    font-family: var(--font-primary);
    color: var(--color-body);
}

.nav-menu li:hover{
    cursor: pointer;
    color: #fff;
}

.hero-section{
    display: flex;
    flex-direction: row;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    padding: 90px 70px;
    width: 90%;
}

.hero-section-left h1{
    font-size: var(--text-xxxl);
}

.hero-section-left span{
    color: var(--color-accent);
}

.hero-section-left button{
    width: 145px;
    height: 56px;
    margin-top: 40px;
    border: none;
    border-radius: 80px;
    font-size: var(--text-xxs);
    font-weight:600;
    background-color: var(--color-accent);
    color: var(--color-body);
}

.hero-section-left button:hover{
    cursor: pointer;
}

.hero-section-right{
    display: flex;
    align-items: flex-end;
    padding: 0 70px 60px 0;
}

.hero-section-right .socials{
    display: flex;
    flex-direction: column;
}

.hero-section-right .socials img{
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

.hero-section-right .socials img:hover{
    cursor: pointer;
    width: 37px;
    height: 37px;
    color: #fff;
}
/* End header section */

/* About me section */
.about-me{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 90px 0;
}

.sub-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-body);
    width: 100%;
}

.sub-heading .text-xl{
    font-size: var(--text-xl);
    margin: 0;
    padding: 0;
}

.columns{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 0 70px;
}

.column-1, .column-2{
    width: 50%;
    display: flex;
}

.column-1 img{
    width: 452px;
    height: 524px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.column-2{
    flex-direction: column;
    margin-top: 5%;
}

.column-2 .text-sm{
    font-size: var(--text-md);
    margin: 0;
}

.column-2 .text-md{
    font-size: var(--text-xs);
    font-weight: 600;
    margin: 0;
    padding: 20px 0 0;
}

.column-2 .text-xs{
    font-size: var(--text-xxxs);
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0 0;
}

.column-2 button{
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 80px;
    font-size: var(--text-xxs);
    font-weight:600;
    background-color: var(--color-accent);
    color: var(--color-body);
    margin: 30px 0 0;
}

.column-2 button:hover{
    cursor: pointer;
}
/* End about me section */

/* What I do section */
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);

}

.services .sub-heading{
    margin-bottom: 30px;
}

.services .intro{
    width: 699px;
    text-align: center;
    margin-bottom: 50px;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1209px;
    margin-bottom: 50px;
}

.services-container .service{
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ellipse{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #75ABBC;
}

.ellipse i img{
    width: 27px;
    height: 27px;
}

.services-container .service .text-md{
    font-size: var(--text-md);
    font-weight: 600;
    text-align: center;
}
.services-container .service .text-xs{
    text-align: center;
}

.call-to-action{
    width: 1000px;
    height: 179px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 50px;
    background-color: #75ABBC;
    color: var(--color-body);
    border-radius: 40px;
    border: none;
}

.call-to-action .text-xs{
    max-width: 540px;
    font-weight: 600px;
    margin-right: 30px;
}

.call-to-action .btn{
    width: 145px;
    height: 56px;
    background-color: var(--color-primary);
    color: var(--color-body);
    border: none;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xs);
    font-weight: 600;
}

.call-to-action .btn:hover{
    cursor: pointer;
}
/* End what I do section */

/* My skills section */

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    background-color: var(--color-primary);
}

.skills-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0;
}

.skills-container .skill{
    margin: 0 40px;
}

.skills-container .skill img{
    width: 90px;
    height: 78px;
}

/* End  my skills section */

/* Projects section */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    background-color: var(--color-primary);
}

.carousel-contanier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 1152px;
    justify-content: space-between;
}

.project{
    margin: 20px 20px;
    width: 300px;
    height: 300px;
    border-radius: 37px;
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 37px;
}

.project img:hover{
    width: 310px;
    height: 310px;
}


/* End projects section */

/* Contact me section */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    background-color: var(--color-primary);
}

.contact-container{
    width: 1070px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.message .text-xs{
    margin-bottom: 15px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;
}

.form{
    width: 100%;
}

.fieldset{
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    margin-bottom: 20px;
    width: calc(100% - 10px);
}

.fieldset div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#name input, #email input, #message textarea{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-body);
    font-size: var(--text-xxxs);
    margin-top: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-body);
}

input::placeholder, textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-xxxs);
}

#message textarea{
    height: 110px;
    margin-bottom: 5px;
    resize: none;
}

#message span{
    opacity: 60%;
}

.message-btn{
    display: flex;
    justify-content: flex-end;
}

.submit-btn{
    width: 145px;
    height: 56px;
    border: none;
    border-radius: 86px;
    color: var(--color-body);
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xxs);
    font-weight: 600;
}

.submit-btn:hover{
    cursor: pointer;
}

.contact-details{
    display: flex;
    flex-direction: column;
}

.contact-details .details{
    display: flex;
    flex-direction: row;
}

.contact-details .details img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-details .details .text-xs{
    margin: 0;
    margin-bottom: 20px;
    font-size: var(--text-xxxs);
}
/* End contact me section */

/* Footer section */

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    height: 66px;
    color: var(--color-primary);
    background-color: var(--color-body);
}

.scroll-to-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--text-xxxs);
    border: none;
    background-color: var(--color-body);
    font-family: 'Poppins', sans-serif;
}

.scroll-to-top:hover{
    cursor: pointer;
}

.scroll-to-top img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.scroll-to-top img:hover{
    width: 34px;
    height: 34px;
}
/* End footer section */

/* Media Queries */
/*********************** Medium Devices *********************************/
@media (max-width: 900px){
    /* NAVIGATION*/
    .nav-bar{
        padding: 45px 50px 0 0;
    }

    .nav-menu{
        display: none;
    }
    
    .humburger-menu{
        display: flex;
    }

    /* END NAVIGATION*/

    /* HERO SECTION */
    .hero-section-left{
        display: flex;
        justify-content: center;
    }
    
    .hero-section-left h1{
        font-size: var(--text-xxl);
    }
    
    .hero-section-left button{
        margin-top: 50px;
    }

    .hero-section-right{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 70px;
    }
    
    .hero-section-right .socials img{
        width: 26px;
        height: 30px;
        margin-top: 10px;
    }
    
    .hero-section-right .socials img:hover{
        width: 30px;
        height: 35px;
    }
    /* END HERO SECTION */

    /* About me section */
.about-me{
    padding: 70px 0;
}

.columns{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
}

.sub-heading .text-xl{
    font-size: var(--text-lg);
}

.column-1, .column-2{
    width: 45%;
    display: flex;
}

.column-1 img{
    width: 100%;
    height: 80%;
    padding-top: 60px;
}

.column-2{
    margin-top: 0;
}

.column-2 .text-sm{
    font-size: var(--text-xs);
}

.column-2 .text-md{
    font-size: var(--text-xs);
    padding-top: 15px;
}

.column-2 .text-xs{
    font-size: var(--text-xxxs);
}

.column-2 button{
    margin: 20px 0 0;
}

/* End about me section */

/* What I do section */
.services{
    width: 100%;
    padding-bottom: 50px;
}

.services .sub-heading{
    margin: 50px 0;
}

.services .intro{
    width: 100%;
    padding: 0 50px;
}

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container .service{
    width: 90%;
    padding: 30px 50px;
}

.ellipse{
    width: 57px;
    height: 57px;

}

.ellipse i img{
    width: 26px;
    height: 26px;
}

.services-container .service .text-md{
    padding: 12px 0;
}
.services-container .service .text-xs{
    text-align: center;
    width: 80%;
    line-height: 1.5;
}

.call-to-action{
    width: 90%;
    padding: 30px;
}

.call-to-action .text-xs{
    font-size: var(--text-xxxs);
    width: 75%;
}

.call-to-action .btn{
    font-size: var(--text-xxs);
}
/* End what I do section */

/* My skills section */

.skills-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.skills-container .skill{
    margin: 10px 30px;
}

.skills-container .skill img{
    width: 120px;
    height: 98px;
}

/* End  my skills section */

/* Projects section */

.projects{
    width: 100%;
}

.carousel-contanier{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    padding: 0 50px;
}

.project{
    width: 260px;
    height: 260px;
}

.project img:hover{
    width: 263px;
    height: 263px;
}
/* End projects section */

/* Contact me section */

.contact{
    padding-bottom: 30px;
}

.contact-container{
    width: 100%;
    flex-direction: column;
}

.message{
    width: 90%;
    padding: 0 50px;
}

.contact-details{
    padding: 0 50px;
}

.form{
    width: 100%;
}

#message textarea{
    height: 110px;
    margin-bottom: 5px;
    resize: none;
}

#message span{
    opacity: 60%;
}


.submit-btn{
    width: 145px;
    font-size: var(--text-xxxs);
    margin-top: 10px;
}

.submit-btn:hover{
    cursor: pointer;
}

.contact-details{
    margin-top: 50px 0 10px 0;
}

.contact-details .details{
    display: flex;
    flex-direction: row;
}

.contact-details .details img{
    width: 27px;
    height: 27px;
    margin-right: 15px;
}

.contact-details .details .text-xs{
    font-size: var(--text-xxxs);
}
/* End contact me section */

}

/*********************** Small Devices *********************************/
@media (max-width: 767px){
    body {
        font-size: var(--text-mobile-body);
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }
    
    .hero-section-left{
        display: flex;
        flex-direction: column;
        padding: 70px 40px 20px 40px;
        width: 100%;
    }
    
    .hero-section-left h1{
        font-size: 40px;
    }
    
    .hero-section-left span{
        color: var(--color-accent);
    }
    
    .hero-section-left button{
        margin: 40px auto;
    }

    .hero-section-right{
        display: none;
    }
    
    /* End header section */

    /* About me section */
.about-me{
    padding: 30px 0;
}


.columns{
    flex-direction: column;
    padding: 0 40px;
    margin: 0;
}

.column-1, .column-2{
    width: 100%;
    display: flex;
}

.column-1 img{
    width: 100%;
    height: 424px;
}

.column-2{
    margin-top: 10%;
}

.column-2 .text-sm{
    font-size: var(--text-xxxs);
}

.column-2 .text-md{
    padding: 10px 0 0;
}

.column-2 .text-xs{
    padding: 20px 0 0;
}

.column-2 button{
    margin: 30px auto;
}

/* End about me section */
    
}