:root {
    /* -------------------------------- 
        Typography
    -------------------------------- */

    --font-primary: 'Poppins';
    --font-secondary: serif;
    --font-typeface: 'Poppins';

    /* type scale */
    --text-sm: 26px;
    --text-xs: 20px;
    --text-xxs: 18px;
    --text-xxxs: 16px;
    --text-mobile-body: 14px;
    --text-mobile-heading: calc(14px*1.618);
    --text-md: 34px;
    --text-lg: 40px;
    --text-xl: 44px;
    --text-xxl: 55px;
    --text-xxxl: 64px;
    --text-xxxxl: 75px;

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    /* --------------------------------
        Colors
    -------------------------------- */
    /* main colors */
    --color-primary: #071013;

    --color-accent: #75ABBC;

    --color-body: #DFE0E2;

    /* typography */
    --color-text: var(--color-body);
    --color-text-heading: var(--color-body);
    --color-text-subtle: var(--color-body);
    --color-link: var(--color-primary);
    --color-link-visited: var(--color-primary-dark);

    /* buttons */
    --btn-primary-bg: var(--color-accent);
    --btn-primary-hover: var(--color-accent-light);
    --btn-primary-active: var(--color-accent-dark);
    --btn-primary-label: var(--color-body);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary), var(--font-secondary);
    color: var(--color-text);
}

section{
    display: flex;
    padding: 60px 0;
}

button{
    width: 145px;
    height: 56px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: var(--text-xxxs);
    font-weight:600;
    background-color: var(--color-accent);
    color: var(--color-body);
}

.text-xs{
    font-size: var(--text-xxxs);
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0 0;
    line-height: 1.7;
    letter-spacing: 1px;
}

.text-md{
    font-weight: 600;
    font-size: var(--text-md);
    margin: 0;
}

/* Header section */
.hero{
    flex-direction: column;
    background-image: url("images/background_image.jpg"); 
    background-color: var(--color-primary);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.nav-bar{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.humburger-container{
    display: none;
}

.nav-menu li{
    padding-left: 45px;
    font-size: var(--text-xxs);
    font-family: var(--font-primary);
    color: var(--color-body);
}

.nav-menu li:hover{
    cursor: pointer;
    color: #fff;
}

.hero-section{
    display: flex;
    flex-direction: row;
}

.hero-section-left{
    flex-direction: column;
    padding: 40px 60px;
    width: 85%;
}

.hero-section-left h1{
    font-size: var(--text-xxxxl);
    line-height: 1.5;
}

.hero-section-left span{
    color: var(--color-accent);
}

.hero-section-left button:hover{
    cursor: pointer;
}

.btns{
    display: flex;
    flex-direction: row;
}

.btn-1{
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-body);
    border: 2px solid var(--color-body);
    margin-right: 20px;
}

.btn-2{
    border: none;
}
/* End header section */

/* About me section */
.about-me{
    flex-direction: column;
    background-color: var(--color-primary);
    
}

.sub-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-body);
    width: 100%;
    padding-top: 30px;
    font-size: var(--text-xl);
}

.columns{
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
}

.column-1{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.column-2{
    width: 40%;
    padding: 40px 60px;
    flex-direction: column;
}

.column-1 img{
    width: 452px;
    height: 524px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.column-2 .text-sm{
    font-size: var(--text-sm);
    margin: 0;
    padding: 20px 0 0;
    line-height: 1.3;

}

.column-2 button:hover{
    cursor: pointer;
}
/* End about me section */

/* What I do section */
.services{
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);

}

.services .intro{
    text-align: center;
    margin-bottom: 30px;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 40px 0 60px 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service{
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.service .text-xs{
    text-align: center;
}

.ellipse{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
}

.ellipse i img{
    width: 33px;
    height: 33px;
}

.services-container .service{
    text-align: center;
}

.call-to-action{
    width: 60%;
    height: 179px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: var(--color-accent);
    color: var(--color-body);
    border-radius: 8px;
    border: none;
}

.call-to-action .text-xs{
    max-width: 540px;
    font-weight: 600px;
    margin-right: 30px;
}

.call-to-action .btn-3{
    background-color: var(--color-primary);
    color: var(--color-body);
    border: none;
    margin-top: 0;
}

.call-to-action .btn-3:hover{
    cursor: pointer;
}
/* End what I do section */

/* My skills section */

.skills{
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
}

.skills-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
}

.skills-container .skill{
    width: 90px;
    height: 90px;
}

.skills-container .skill img{
    height: 100%;
    width: 100%;
}

/* End  my skills section */

/* Projects section */

.projects{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

.carousel-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.project{
    margin: 20px;
    width: 275px;
    height: 275px;
    flex: 1 1 auto;
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project img:hover{
    border-radius: 0;
}


/* End projects section */

/* Contact me section */

.contact{
    flex-direction: column;
    background-color: var(--color-primary);
    padding-bottom: 0;
}

.contact-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.message .text-xs{
    margin-bottom: 15px;
}

.contact-details{
    display: flex;
    flex-direction: column;
}

.form{
    width: 100%;
    margin-bottom: 50px;
}

.fieldset{
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    margin-bottom: 20px;
    width: calc(100% - 10px);
}

.fieldset div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#name input, #email input, #message textarea{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-body);
    font-size: var(--text-xxxs);
    margin-top: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-body);
}

input::placeholder, textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-xxxs);
}

#message textarea{
    height: 110px;
    margin-bottom: 5px;
    resize: none;
}

#message span{
    opacity: 60%;
}

.message-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-btn .btn-2{
    margin: 0;
}

.message-btn .btn-2:hover{
    cursor: pointer;
}

.contact-details{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    padding-left: 80px;
}

.contact-details .details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-details .details img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-details .details .text-xs{
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--text-xxxs);
}
/* End contact me section */

/* Footer section */

.footer{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    height: 55px;
    color: var(--color-primary);
    background-color: var(--color-body);
}

.footer button{
    margin: 0;
}

.scroll-to-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--text-xxxs);
    border: none;
    background-color: var(--color-body);
}

.scroll-to-top img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.scroll-to-top img:hover{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/* End footer section */

/* Media Queries */
/*********************** Large Devices *********************************/
@media (max-width: 1080px){

    .sub-heading{
    font-size: var(--text-lg);
    padding-top: 0;
    }
}
    /* NAVIGATION*/
    .nav-bar{
        padding: 45px 50px 0 50px;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        width: 30%;
        position: absolute;
        top: 92px;
        right: 0;
        text-align: left;
    }

    .nav-menu li{
        padding: 20px 0 0 20px;
        font-size: var(--text-xxxs);
    }

    .nav-menu.active{
        display: flex; 
    }

    .humburger-container{
        display: flex;
    }
    
    .humburger-menu{
        display: flex;
        width: 44px;
        height: 44px;
    }

    .remove-menu{
        display: none;
    }

    .humburger-container.active .humburger-menu{
        display: none;
    }

    .humburger-container.active .remove-menu{
        display: flex;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .humburger-menu:hover{
        cursor: pointer;
    }
    /* END NAVIGATION*/

    /* HERO SECTION */

    .hero{
        display: flex;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }
    .hero-section-left{
        display: flex;
        justify-content: center;
    }
    
    .hero-section-left h1{
        font-size: var(--text-xxxl);
        line-height: 1.3;
    }

    button{
    width: 143px;
    height: 54px;
    margin-top: 50px;
    }
    /* END HERO SECTION */

    /* About me section */
    .about-me{
        padding: 40px 0;
    }

    .columns{
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 0;
    }

    .sub-heading .text-xl{
        font-size: var(--text-lg);
    }

    .column-1, .column-2{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 0 30px;
    }

    .column-1 img{
        width: 60%;
        height: 33%;
        padding-top: 0;
        background-position: center;
    }

    .column-2{
        margin-top: 0;
    }

    .column-2 .text-sm{
        font-size: var(--text-sm);
        text-align: center;
    }

    .column-2 .text-md{
        font-size: var(--text-md);
        padding-top: 15px;
        text-align: center;
    }

    .column-2 .text-xs{
        font-size: var(--text-xxxs);
        text-align: center;
    }

    .column-2 button{
        margin: 20px 0 0;
    }

    /* End about me section */

    /* What I do section */
    .services{
        width: 100%;
        padding: 0;
    }

    .services .intro{
        width: 100%;
        padding: 30px 50px 0;
    }

    .services-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .services-container .service{
        width: 90%;
        padding: 0 50px;
    }

    .ellipse{
        width: 57px;
        height: 57px;

    }

    .ellipse i img{
        width: 26px;
        height: 26px;
    }

    .services-container .service .text-md{
        padding: 12px 0;
    }
    .services-container .service .text-xs{
        text-align: center;
        width: 80%;
        line-height: 1.5;
        padding-top: 0;
    }

    .call-to-action{
        width: 80%;
        padding: 30px;
    }

    .call-to-action .text-xs{
        font-size: var(--text-xxxs);
        width: 75%;
    }

    .call-to-action .btn{
        font-size: var(--text-xxs);
    }
    /* End what I do section */

    /* My skills section */

    .skills-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-bottom: 0;
    }

    .skills-container .skill{
        margin: 20px;
    }

    .skills-container .skill img{
        width: 100%;
        height: 100%;
    }

    /* End  my skills section */

    /* Projects section */

    .projects{
        width: 100%;
        padding: 0;
    }

    .slider{
        width: 100%;
        padding: 0 50px;
    }

    .project{
        width: 260px;
        height: 260px;
    }
    /* End projects section */

    /* Contact me section */

    .contact{
        padding-top: 0;
    }

    .contact-container{
        width: 100%;
        flex-direction: column;
    }

    .message{
        width: 100%;
        padding: 0 60px;
    }

    .message .form{
        margin-bottom: 30px;
        width: 100%;
    }

    .contact-details{
        width: 100%;
        padding: 0 60px;
    }
/* End contact me section */

/*********************** Medium Devices *********************************/
@media (max-width: 780px){
    body {
        font-size: var(--text-mobile-body);
    }

     header{
        height: 100vh;
     }

    .hero-section{
        display: flex;
        flex-direction: column;
    }
    
    .hero-section-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 40px 0 40px;
        width: 100%;
        height: 100vh;
    }
    
    .hero-section-left h1{
        font-size: 3rem;
        text-align: center;
    }

    .hero-section-left button{
        margin: 0;
    }
    
    .hero-section-left .btns{
        width: 55%;
        margin-bottom: 160px;
        align-items: center;
        justify-content: space-evenly;
    }
    /* End header section */

    /* About me section */
    .about-me{
        padding-top: 40px;
        padding-bottom: 0;
    }

    .columns{
        flex-direction: column;
        padding: 10px 40px 30px 40px;
        margin: 0;
    }

.column-1, .column-2{
    width: 100%;
    display: flex;
}

.column-1 img{
    width: 100%;
    padding-top: 0;
}

.column-2{
    margin-top: 10%;
    align-items: center;
}

.column-2 .text-sm{
    font-size: var(--text-xxs);
}

.column-2 .text-md{
    padding: 10px 0 0;
    text-align: center;
}

.column-2 .text-xs{
    padding: 20px 0 0;
    text-align: center;
    padding: 20px 12px 0 12px;
}

.column-2 button{
    margin: 30px auto;
}

/* End about me section */

/* What I do section */
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);

    }

    .services .sub-heading{
        margin-bottom: 30px;
    }

.services .intro{
    width: 100%;
    padding: 0 50px;
    margin-bottom: 0;
}

.services .text-xs{
    font-size: var(--text-xxxs);
}

.services-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.services-container .service{
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
}

.ellipse{
    width: 5rem;
    height: 5rem;
}

.ellipse i img{
    width: 3.5em;
    height: 3.5em;
}

.call-to-action{
    width: 65%;
    height: 350px;
    flex-direction: column;
    margin: 10px auto 0;
}

.call-to-action .text-xs{
    max-width: 540px;
    font-weight: 600px;
    margin-right: 30px;
}

.call-to-action .btn{
    width: 145px;
    height: 56px;
    background-color: var(--color-primary);
    color: var(--color-body);
    border: none;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xs);
    font-weight: 600;
}

.call-to-action .btn:hover{
    cursor: pointer;
}
/* End what I do section */
    
}

/*********************** Small Devices *********************************/
@media (max-width: 360px){
}